
<h3>Date: {{model.date}}{{input type='date' placeholder=model.date value=model.date}}</h3>
<h3>Workout{{input value=model.workout}}</h3>
<h3>Amount{{input value=model.amount}}</h3>
<h3>Reps{{input value=model.reps}}</h3>
<h3>Time{{input value=model.time}}</h3>
<br>
<button class='btn btn-danger' {{action 'deleteWorkout'}}>Delete</button>
{{!-- {{edit-workout editWorkout=editWorkout}} --}}
<button type='submit' class='btn btn-warning' {{action 'editWorkout'}}>Save</button>
