<h3>{{model.date}}</h3>
<li><h4>{{model.workout}}</h4></li>
<li><h4>{{model.amount}}</h4></li>
<li><h4>{{model.reps}}</h4></li>
<li><h4>{{model.time}}</h4></li>
<br>
<button class='btn btn-danger' {{action 'deleteWorkout'}}>Delete</button>
